
* {
	margin:0; padding:0; 	/*全要素のマージン・パディングをリセット*/
	line-height:1.5;	/*全要素の行の高さを1.5倍にする*/
	color:#333333;		/*文字色*/

}
body {
	background-color:#999999;	/*ページ全体の背景色*/
	text-align:center;		/*IE6以下でセンタリングするための対策*/
}
div#pagebody {
	width:796px; margin:0 auto;	/*内容全体をセンタリング*/
	text-align:left;	/*テキストの配置を左揃えにする*/
	background-image:url("images/bg_pagebody.gif");	/*内容全体の背景*/
	background-repeat:repeat-y;		/*背景画像を縦方向に繰り返す*/
	background-color:#ffffff;		/*内容全体の背景色*/
}


header{
    width: 100%;
    height: 60px;
    background-color:#201313;
    color: white;
    text-align:left;
    font-size: 200%;
}

.youtube{
    width:100%;
    position: static;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.main{
  background-color: navy;
  position:　relative;
}

.page-left{
  width: 580px;
  margin-right:5px;
  position: fixed;
}

.page-right{
  float: left;
  width: 720px;
  position:  fixed;
  top: 65px;
  bottom: 0;
  left: 590px;
  right: 0;
}

.movie{
  width: 100%;
  height: 335px;
  position: relative;
}
.inner_movie{
    width: 560px;
    height: 315px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
}

.button{
  position: relative;
  top: 10px;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}


.sheet{
  overflow: auto;
  position: fixed;
  top: 450px;
  bottom: 0;
  left: 0;
  right: 0;
}

th{
    height: 10px;
    padding:5px;
    background:#266;
    border:1px solid #777;
    color: #fff;
}

td{
  height: 10px;
  padding:5px;
  background:#eee;
  border:1px solid #777;
  color: black;
}
